<p>
  <button mat-raised-button color="primary" routerLink="/admin/products/new">New Product</button>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Search...</mat-label>
    <input matInput placeholder="Search..." id="search" name="search" (keyup)="filter(query.value)" #query>
    <!--      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>-->
  </mat-form-field>
</p>

<mat-divider></mat-divider>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="datasource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="model.title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Title"> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.model.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let element"> {{element.model.price}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="col">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a routerLink="/admin/products/{{element.id}}">Edit</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>
</div>
